
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    background-color: #DBD1C2;

}

#logo {
    float: left;
    font-size: 200%;
    text-transform: uppercase;
}

/* navigation links */

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu, #logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#hero-image {
    height: 600px;
    width: 100%;
    background: url(../assets/images/pexels-quang-nguyen-vinh-2164026.jpg);
    background-size: cover;
    background-position: center;
}

