@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #DBD1C2;

}

/* headings and logo */

h1, h2 {
    
    text-transform: uppercase;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    text-transform: uppercase;
    
}

/* navigation links */

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu,
#logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#hero-image {
    height: 600px;
    width: 100%;
    background: url(../assets/images/pexels-quang-nguyen-vinh-2164026.jpg);
    background-size: cover;
    background-position: center;
}

/* our story */

#our-story {
    
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
